
.terminal-box{
	background: black;
	color: white;
    border-top: thick solid #a5a0a0;
    border-top-width: 15px;
}

.terminal-info{
	margin-top: 20px;
	font-size: 13px;
}

.terminal-box{
	margin-top: 20px;
}

.enter-line{
	text-indent: 15px;
	color: gray;
}

.work-experience{
	text-indent: 45px;
	color: gray;
	margin-top: -10px;
}

.terminal-container-fluid,
.welcome-container-fluid
{
	width: 100%;
	height: 100%;
}

.terminal-container-fluid,
.terminal-row{
	background: #93e6ba;
}

.terminal-container-fluid{
	display: none;
}

.welcome-container-fluid{
	position:absolute;
    background: white;
    z-index: 1;
    background: #d8e9f0;
    text-align: center;
    overflow: hidden;
}

.welcome-col{
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter-link{
	text-decoration: none;
	cursor: default;
}

.portrait-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}